.aside{
	margin: 0 1em;
	margin-top: 4em;

	@include bp(desktop) {
		display: block;
		float: right;
		margin-top: 0.55em;
		margin-left: 1em;
		width: 298px;
	}
}

.aside__treatment {
	background: #31334F;
	padding: 1em 0;
	position: relative;
	@include bp(desktop) {
		margin-bottom: 5em;
	}

	h3 {
		color: #fff;
		font-family: 'merriweather-regular';
		font-size: 20px;
		margin-top: 0.5em;
		padding-top: 1em;
		text-align: center;
	}

	.aside__treatment--text {
		color: #DC85A7;
		font-family: 'merriweather-regular';
		font-size: 15px;
		padding: 0 0.5em;
		text-align: center;
	}
		
	a {
		color: #DC85A7;
		&:hover,
		&:focus {
			color: #C8ADD1;
		}
	}

	&:before {
		background: url("../images/mobile-treatment-img.png") 0 0 no-repeat;
		content: '';
		display: block;
		height: 70px;
		left: 50%;
		margin-left: -35px;
		position: absolute;
		top: -35px;
		width: 70px;

		@include retina {
			background: url("../images/retina/mobile-treatment-img_2x.png") 0 0 no-repeat;
			background-size: 100%;
		}

		@include bp(desktop) {
			background: url("../images/treatment-img.png") 0 0 no-repeat;
			height: 86px;
			margin-left: -42px;
			top: -43px;
			width: 83px;

			@include retina {
				background: url("../images/retina/treatment-img_2x.png") 0 0 no-repeat;
				background-size: 100%;
			}
		}
	}

}

.aside__myth{
	background: #31334F;
	position: relative;

	&:before {
		background: url("../images/mobile-mythbuster-img.png") 0 0 no-repeat;
		content: '';
		display: block;
		height: 70px;
		left: 50%;
		margin-left: -35px;
		position: absolute;
		top: -35px;
		width: 70px;

		@include retina {
			background: url("../images/retina/mobile-mythbuster-img_2x.png") 0 0 no-repeat;
			background-size: 100%;
		}

		@include bp(desktop) {
			background: url("../images/mythbuster-img.png") 0 0 no-repeat;
			height: 87px;
			margin-left: -42px;
			top: -44px;
			width: 83px;

			@include retina {
				background: url("../images/retina/mythbuster-img_2x.png") 0 0 no-repeat;
				background-size: 100%;
			}
		}
	}

	h3 {
		color: #DC85A7;
		font-family: 'journal';
		font-size: 45px;
		padding-top: 1em;
		text-align: center;
	}

	p {
		color: #fff;
		margin: 0 1em 1em 1em;
		overflow: hidden;
	}

	.myth-text {
		margin-top: -2em;
	}

	.question1 {
		padding-bottom: 20px;
		border-bottom:  2px dotted #fff;
	}

	.q-a {
		color: #DC85A7;
		display: block;
		float: left;
		font-family: 'merriweather-regular';
		font-size: 20px;
		margin-right: 0.5em;
	}

	.q-a-result {
		display: block;
		overflow: hidden;
	}

	.find-out {
		color: #DC85A7;
		font-family: 'merriweather-regular';
		font-size: 15px;
		display: block;
		margin: 0.5em 0em 1em 0;

		@include bp(desktop) {
			font-size: 16px;
			&:hover,
			&:focus {
			color: #C8ADD1;
		}
		}
	}
}