.content {
	margin-top: -3em;
	padding: 0.75em 0.25em;
	position: relative;
	z-index: 1;

	@include bp(desktop) {
			width: 1137px;
			margin: auto;
		}
}

.main-text-top{
	background: #31334F;
	//margin-top: -3em;
	//margin: -3em 1em 0em 1em;
	padding: 0 0.5em 2em;
	position: relative;
	text-align: center;
	@include border-radius(10px);
	z-index: 1;

	@include bp(desktop) {
		margin: -6em;
	}

	h1 {
		color: #fff;
		font-size: 1.125em;
		font-family: 'merriweather-regular';
		padding-top: 0.5em;
	}

	p {
		color: #DC85A7;
		font-size: 14px;
		font-family: 'merriweather-light';
	}

	a {
		bottom: -16px;
		color: #371746;
		background: #DC85A7;
		display: block;
		font-size: 15px;
		font-family: 'merriweather-regular';
		left: 50%;
		margin-left: -143px;
		padding: 0.75em 0;
		position: absolute;
		text-decoration: none;
		@include border-radius(4px);
		width: 285px;
		z-index: 2;
	}
}
.kwc-logo2{
	background: url("../images/kwc-logo2.png") 0 0 no-repeat;
	//@include img-replace;
	height: 69px;
	width: 100px;
}


.kwc-text {
	border: 7px solid #fff;
	background: #31334F;
	padding: 2em 1em 1em 1em;
	position: relative;
	margin: 5em 1em 1em 1em;

	@include bp(desktop) {
		padding-top: 4.5em;
	}

	&:before {
		background: url("../images/kwc-logo2.png") 0 0 no-repeat;
		content: '';
		display: block;
		height: 69px;
		left: -8px;
		position: absolute;
		top: -33px;
		width: 100px;
	}

	p {
		color: #fff;
		font-size: 15px;
    	font-family: 'merriweather-light';
	}

	a {
		color: #DC85A7;
	}
}

.header2 {
	text-align: center;
	margin: 1em;
		h2 {
		color: #31334F;
		font-size: 22px;
		font-family: 'bpreplay-regular';

		@include bp(desktop) { 
			font-size: 34px;
		}
	}
	p {
		color: #4D4D4D;
		font-size: 15px;
		font-family: 'merriweather-regular';

		@include bp(desktop) {
			font-size: 24px;
		}
	}
}

.story {
	border: 7px solid #fff;
	margin: 1em;

	h3,
	p {
		margin-left: 0.5em;
	}

	h3 {
		color: #333333;
		font-family: 'bpreplay-regular';
	}

	p {
		color: #DC85A7;
		font-family: 'merriweather-light';
	}

	.story__person {
		line-height: 78px;
		overflow: hidden;

		p {
			color: #471F47;
			display: inline-block;
			line-height: normal;
			overflow: hidden;
			vertical-align: middle;
		}

		.story__img {
			background: #FFF;
			display: block;
			float: right;
			height: 78px;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			padding: 5px;
			width: 78px;

			@include border-radius(50%);

			img {
				display: block;
				height: 68px;
				width: 68px;
			}
		}
	}
}

