.content {
	margin-top: -3em;
	padding: 0.75em 0.25em;
	position: relative;
	z-index: 1;

	@include bp(desktop) {
		width: 1137px;
		margin: auto;
	}
}

.main-text-top{
	background: #31334F;
	padding: 0 0.5em 2em;
	position: relative;
	text-align: center;
	@include border-radius(10px);
	z-index: 1;

	@include bp(desktop) {
		margin: -6em 0 6em 0;
		margin-left: auto;
		margin-right: auto;
		width: 920px;
		height: 172px;

	}

	h1 {
		color: #fff;
		font-size: 1.125em;
		font-family: 'merriweather-regular';
		padding-top: 0.5em;

		@include bp(desktop) {
			font-size: 32px;
		}
	}

	p {
		color: #DC85A7;
		font-size: 14px;
		font-family: 'merriweather-light';

		@include bp(desktop) {
			margin: auto;
			margin-top: -1em;
			font-size: 21px;
			width: 569px;
		}
	}

	a {
		bottom: -16px;
		color: #371746;
		background: #DC85A7;
		display: block;
		font-size: 15px;
		font-family: 'merriweather-regular';
		left: 50%;
		margin-left: -143px;
		padding: 0.75em 0;
		position: absolute;
		text-decoration: none;
		@include border-radius(4px);
		width: 285px;
		z-index: 2;

		@include bp(desktop) {
			bottom: -30px;
			font-size: 21px;
			margin-left: -198px;
			width: 395px;
			&:hover,
			&:focus {
			background: #C8ADD1;
		}


			&:before {
			content: ''; // needs to be blank
			left: 50%; // left of our container (anchor tag)
			margin-left: -12px;
			//margin-top: -11px; // half the height of the object being used - the triangle
			position: absolute; // so we can position anywhere within our link
			top: -4px; // vertically center

			/* Triangle */
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 16px 12px 0 12px;
			border-color: #31334f transparent transparent transparent;

			}
		}
	}
}

.kwc-text {
	border: 7px solid #fff;
	background: #31334F;
	padding: 2em 1em 1em 1em;
	position: relative;
	margin: 5em 1em 1em 1em;

	@include bp(desktop) {
		height: 93px;

		p{
			margin: -1em 8em 0.5em 15em;
			font-size: 20px;

		}
	}


	&:before {
		background: url("../images/kwc-logo2.png") 0 0 no-repeat;
		content: '';
		display: block;
		height: 70px;
		left: -8px;
		position: absolute;
		top: -33px;
		width: 100px;

		@include bp(desktop) {
			background: url("../images/kwc-logo.png") 0 0 no-repeat;
			display: block;
			padding-right: 2em;
			height: 101px;
			width: 150px;
			top: -0.75em;
			left: 40px;
		}
	}

	p {
		color: #fff;
		font-size: 15px;
    	font-family: 'merriweather-regular';
	}

	a {
		color: #DC85A7;
		@include bp(desktop) {
			&:hover,
			&:focus {
				color: #C8ADD1;
			}
		}
	}
}

.header2 {
	text-align: center;
	margin: 1em;
		h2 {
		color: #31334F;
		font-size: 22px;
		font-family: 'bpreplay-regular';

		@include bp(desktop) { 
			font-size: 32px;
			margin-bottom: -0.5em;
		}
	}
	p {
		color: #4D4D4D;
		font-size: 15px;
		font-family: 'merriweather-regular';

		@include bp(desktop) {
			font-size: 22px;
		}
	}
}

.section {
	@include bp(desktop) {
		float: left;
		padding-bottom: 3em;
		width: 790px;
	}
	
}

.story {
	border: 7px solid #fff;
	margin: 1em;

	@include bp(desktop) {
		height: 343px;
		margin: 0;

		p {
			margin-bottom: -0.25em;
		}
	}

	h3,
	p {
		margin-left: 0.5em;

	}

	h3 {
		color: #333333;
		font-family: 'bpreplay-regular';
		margin-bottom: -0.6em;

		@include bp(desktop) {
			font-size: 26px;
		}
	}

	p {
		color: #DC85A7;
		font-family: 'merriweather-light';

		@include bp(desktop) {
			padding-top: 1em;
			font-size: 18px;
		}
	}

	.desktop-only-text {
		display: none;

		@include bp(desktop) {
			color: #333333;
			display: block;
			font-size: 14px;
		}
	}

	.story__person {
		line-height: 78px;
		overflow: hidden;
		padding-bottom: 1em;

		p {
			color: #471F47;
			display: inline-block;
			line-height: normal;
			overflow: hidden;
			vertical-align: middle;
		}

		.story__img {
			background: #FFF;
			display: block;
			float: right;
			height: 78px;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			padding: 4px ;
			width: 78px;
			@include border-radius(50%);

			img {
				display: block;
				height: 68px;
				width: 68px;

				@include bp(desktop) {
					height: 72px;
					width: 72px;
				}
			}
		}

		.story__img--rebecca {
			display: block;
			float: right;
			height: 78px;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			padding: 5px;
			width: 78px;

			@include bp(desktop) {
				display: none;
			}
		}
	}

	.story__desktop-img {
		display: none;

		@include bp(desktop) {
			display: block;
			
			img {
				display: block;
				float: left;
				height: 274px;
				margin-top: 3.35em;
				margin-left: 0.75em;
				width: 257px;
			}
		}
	}

	.story__content {
		@include bp(desktop) {
			padding-left: 1em;
			width: 480px;
			overflow: hidden;
		}
	}
}

.big-story,
.small-story {
	@include bp(desktop) {
		float: left;
		margin: 0;
		padding: 0.5em;
	}
}

.big-story {
	@include bp(desktop) {
		margin-bottom: 1.5em;
		width: 100%;
	}
}

.small-story {
	@include bp(desktop) {
		width: 33.33333%;
	}

	p {
		@include bp(desktop) {
			height: 182px;
		}
	}

	.stories-names {
		@include bp(desktop) {
			height: auto;
		}
	}
}

/*RESULTS PAGE CONTENT*/

.results-article {
	border: 7px solid #fff;
	//margin-top: 2em;
	padding: 0.5em 0.5em;
	margin: 2em 1em;
	@include bp(desktop) {
		width:75%;
		margin: auto;
	}
			
	h2 {
		color: #333333;
		padding-left: 1em;
		font-size: 18px;
		font-family: 'bpreplay-regular';
	}

	p {
		color: #DC85A7;
		padding-left: 1em;
		font-size: 14px;
		font-family: 'merriweather-light';
	}

	a {
		color: #333333;
		text-decoration: none;
		font-family: 'bpreplay-regular';
		font-size: 14px;
		padding-left: 8.8em;
		@include bp(desktop) {
			padding-left: -8.8em;
		}

	}

	h2,
	p,
	a {
		overflow: hidden;
	}

	img  {
		float: left;
	}
}
/*.contra-inject{
	@include retina {
				background: url("../images/retina/contra-inject-mobilex2_r2_c1_r2_c1.png") 0 0 no-repeat;
				background-size: 100%;
			}
}

.implant{
	@include retina {
				background: url("../images/retina/implant-mobilex2_r2_c1.png") 0 0 no-repeat;
				background-size: 100%;
			}
}

.ius{
	@include retina {
				background: url("../images/retina/ius-mobilex2_r2_c1.png") 0 0 no-repeat;
				background-size: 100%;
			}
}

.iud{
	@include retina {
				background: url("../images/retina/iud-mobilex2_r2_c1.png") 0 0 no-repeat;
				background-size: 100%;
			}
}

.coc{
	@include retina {
				background: url("../images/retina/coc-mobilex2_r1_c3.png") 0 0 no-repeat;
				background-size: 100%;
			}
}*/
.aside__treatment--results {
	background: #31334F;
	padding: 1em 0;
	position: relative;
	margin: 4em 1em -2em 1em;
	@include bp(desktop) {
		width:75%;
		margin: 5em auto;
	}

	h3 {
		color: #fff;
		font-family: 'merriweather-bold';
		font-size: 24px;
		margin-top: 0.5em;
		padding-top: 1em;
		text-align: center;
	}

	.aside__treatment--text {
		color: #DC85A7;
		font-family: 'merriweather-regular';
		font-size: 15px;
		padding: 0 0.5em;
		margin-top: 0.5em;
		text-align: center;
	}
		
	a {
		color: #DC85A7;
		&:hover,
		&:focus {
			color: #C8ADD1;
		}
	}

	&:before {
		background: url("../images/mobile-treatment-img.png") 0 0 no-repeat;
		content: '';
		display: block;
		height: 70px;
		left: 50%;
		margin-left: -35px;
		position: absolute;
		top: -35px;
		width: 70px;

		@include retina {
			background: url("../images/retina/mobile-treatment-img_2x.png") 0 0 no-repeat;
			background-size: 100%;
		}

		@include bp(desktop) {
			background: url("../images/treatment-img.png") 0 0 no-repeat;
			height: 86px;
			margin-left: -42px;
			top: -43px;
			width: 83px;

			@include retina {
				background: url("../images/retina/treatment-img_2x.png") 0 0 no-repeat;
				background-size: 100%;
			}
		}
	}

}