/***************************/
/*********FOOTER************/
/***************************/

.footer {
	background: #371746;
	clear: both;
	display: block;
	margin: auto;
	padding-bottom: 4em;
	padding-top: 1em;
	position: relative;

	@include bp(desktop) {
		height: 81px;
		margin-top: 5em;
		padding-bottom: 0;
		padding-top: 0;
	}

	.footer__list {
		letter-spacing: -0.32em;
		margin: 0 auto;
		max-width: 320px;
		padding: 0;
		text-align: center;

		@include bp(desktop) {
			max-width: 1250px;
			position: relative;
			text-align: left;
		}

	.container {
		@include bp(desktop) {
			width: 1250px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	li {
		display: inline-block;
		font-family: 'merriweather-light';
		letter-spacing: normal;
		list-style: none;
		vertical-align: middle;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover,
		&:focus {
		color: #C8ADD1;
		}
	}

	.footer__list--links {
		border-right: 2px solid #C8ADD1;
		color: #fff;
		display: inline-block;
		font-size: 13px;
		padding: 0.5em;
		margin-bottom: 0.5em;

		@include bp(desktop) {
			font-size: 12px;
			margin-bottom: 0em;
			line-height: 13px;
		}
	}

	.no-border {
		border: none;

		&:last-child {
			border-right: 0em;
		}

		@include bp(desktop) {
			border-right: 2px solid #C8ADD1;
		}
	}

	.desktop-no-border{
		border: none;
	}

	.footer__socials {
		display: block;
		margin: 1em 0.75em 2.5em 0.75em;

		@include bp(desktop) {
			display: inline-block;
			margin: 1em;

		}

		a {
			display: inline-block;
			height: 38px;
			width: 38px;

			@include img-replace;
		}

		.footer__images--facebook {
			background: url("../images/social-tag-facebook.png") 0 0 no-repeat;

		}

		.footer__images--twitter {
			background: url("../images/social-tag-twitter.png") 0 0 no-repeat;
			}
		}
	}
}

.footer__images--nhs {
	bottom: 0;
	border: none;
	left: 0;
	margin-bottom: 1em;
	position: absolute;
	padding: 0.5em 1em 0.5em 0.5em;

	@include bp(desktop) {
		margin: 0;
		position: relative;
		padding-right: 1em;

	}

	a {
		background: url("../images/nhs-direct-logo.png") 0 0 no-repeat;
		display: block;
		height: 45px;
		width: 60px;		
		@include img-replace;
	}
}

.footer__images--sept {
	bottom: 0;
	margin-bottom: 1em;
	position: absolute;
	padding: 0.5em 0.5em 0.5em 1em;
	right: 0;		

	@include bp(desktop) {
		margin: 0;
		position: relative;
	}

	a {
		background: url("../images/sept-logo.png") 0 0 no-repeat;
		display: block;
		height: 29px;
		width: 195px;

		@include img-replace;
	}
}