.header {
	background: #471F47;
	border-bottom: 3px solid #DC85A7;

	img {
		display: block;
		margin: auto;
		max-width: 100%;
	}

	.header__mobile-img {
		@include bp(desktop) {
			display: none;
		}
	}

	.header__desktop-img {
		display: none;

		@include bp(desktop) {
			display: block;
			padding: 0 1em;
		}
	}
}

/****************************/
/*RESULTS PAGE HEADER-MOBILE*/
/*****************************/

.header__results {
	text-align: center;
	margin: auto;
	margin-bottom: 5em;

	.results__header--buttons {
		text-align: center;
		margin-left: -2.55em;

		li {
			background: #DC85A7;		
			display: inline;
			list-style: none;
			font-size: 13px;
			font-family: 'merriweather-light';
			padding: 0.5em;
			margin-left: 0.5em;
			
			@include border-radius(0.375em);

			a {
				color: #371746;
				text-decoration: none;
			}

			@include bp(desktop) {
			display: none;
			}
		}	
	}

	h1 {
		color: #DC85A7;
		font-size: 21px;
		font-family: 'bpreplay-regular';
		text-transform: uppercase;
	}

	p {
		color: #4D4D4D;
		font-size: 15px;
		font-family: 'merriweather-light';
		margin-top: -1em;
		padding: 0em 0.5em;
	}
}

.results__header--mobile {
	background: #471F47;
	border-bottom: 3px solid #DC85A7;
	display: block;
	max-width: 100%;

	@include bp(desktop) {
		display: none;
	}
}

.your-results-mobile{
	display: block;

	@include bp(desktop) {
		display: none;
	}
}

/******************************/
/****RESULTS-DESKTOP-HEADER****/
/******************************/

.header__results {
	@include bp(desktop) {
		display: none;
	}
}

.header__results--desktop {
	display: none;
	
	@include bp(desktop) {
		background: #471F47;
		border-bottom: 3px solid #DC85A7;
		display: block;
		height: 348px;
		letter-spacing: -0.32em;
		line-height: 348px;
	}

	.container {
		margin: 0 auto;
		width: 1137px;
	}
}


.your-results-desktop {
	@include bp(desktop) {

		h1 {
			color: #DC85A7;
			font-size: 34px;
			font-family: 'bpreplay-regular';
			margin-bottom: 0;
			text-transform: uppercase;
		}

		p {
			color: #fff;
			font-size: 17px;
			font-family: 'merriweather-regular';
			line-height: 1.3;
			margin: 5px 0 18px;
		}

		img {
			display: inline-block;
			margin-top: -4px;
			vertical-align: middle;
		}
	}
}

.your-results-desktop-text {
	@include bp(desktop) {
		display: inline-block;
		letter-spacing: normal;
		line-height: normal;
		padding: 1.25em;
		vertical-align: middle;
		width: 445px;
	}
}

.results-btn {
	background: #DC85A7;
	color: #371746;
	display: inline-block;
	font-family: 'merriweather-regular';
	font-size: 16px;
	padding: 0.5em;
	text-decoration: none;

	@include border-radius (3.5px);
}
