.navigation {
	background: #371746;
	font-family: 'merriweather-regular';
	//height: 69px;
	letter-spacing: -0.32em;
	list-style: none;
	padding: 1em 0 0;
	margin: 0;
	//font-size: 17px;

	@include bp(desktop) {
		border-bottom: 2px solid #DC85A7;
		height: auto;
		padding: 0;
	}

	.container {
		@include bp(desktop) {
			margin: auto;
			width: 1210px;
		}
	}

	p {
		display: inline-block;
	}

	.navigation__logo,
	.navigation__mobile-icon {
		display: inline-block;
		margin: 0;	
	}

	.navigation__logo,
	.navigation__mobile-icon,
	.navigation__links {
		letter-spacing: normal;
		vertical-align: middle;
	}

	.navigation__logo {
		padding: 0 0.5em;
		width: 86.875%;

		@include bp(desktop) {
			width: 25%;
		}

		a {
			background: url("../images/larc-logo.png") 0 0 no-repeat;
			display: block;
			height: 26px;
			width: 261px;
			@include img-replace;
		}
	}

	.navigation__mobile-icon {
		padding: 0 0.5em 0 0;
		text-align: right;
		width: 13.125%;

		@include bp(desktop) {
			display: none;
		}

		a {
			background: url("../images/larc-dd.png") 0 0 no-repeat;
			display: inline-block;
			height: 36px;
			width: 33px;
			@include img-replace;
		}
	}

	.kwc-logo {
		display: none;

		@include bp(desktop) {
			background: url("../images/kwc-logo-correct.png") 0 0 no-repeat;
			display: inline-block;
			height: 61.498px;
			width: 91.905px;
			padding-left: 0.5em;
			@include img-replace;

			text-indent: 110%;

		}
	}

	/* UL */
	.navigation__links {
		background: #31334F;
		border-top: 2px solid #DC85A7;
		line-height: 80px;
		list-style: none;
		padding: 0;
		margin: 1em 0 0;

		@include bp(desktop) {
			background: #371746;
			border-top: none;
			display: inline-block;
			margin: 0;
			width: 75%;

			.no-border-link {
				border: none;
			}
		}

		a {
			text-decoration: none;
		@include bp(desktop) {
			&:hover,
			&:focus {
				color: #C8ADD1;
				}
			}
		}

		li {
			border-top: 3px solid #010101;
			line-height: normal;
			text-align: center;
			vertical-align: middle;

			&:first-child {
				border-top: none;
			}


			@include bp(desktop) {
				border-top: none;
				border-right: 1px solid #DC85A7;
				display: inline-block;
				padding: 0 6.15px 0 6.15px;
			}

			a {
				color: #FFF;

				@include bp(desktop) {
					font-size: 0.75em;
				}
			}
		}

		.kwc-logo {
			@include bp(desktop) {
				border: none;
			}
		}

		.navigation__links--extra {
			color: #DC85A7;
			display: block;
			font-size: 16px;

			@include bp(desktop) {
				display: none;
			}
		}

		.navigation__links--retrieve {
			background: #DC85A7;

			@include bp(desktop) {
				line-height: 80px;
				&:hover,
				&:focus {
					background: #C8ADD1;
				}

				a {
					@include bp(desktop) {
						display: block;
					}

				}
			}

			a,
			.navigation__links--extra {
				color: #31334F;
			}
		}
	}
}