/*

STRUCTURE
---------

*/

@import "fonts/fonts";

// Config settings and variables
@import "config/settings";
@import "config/variables";

// Mixins
@import "mixins/hacks";
@import "mixins/img-replace";
@import "mixins/media-queries";
@import "mixins/opacity";
@import "mixins/prefixes";
@import "mixins/retina";
@import "mixins/sprite";

// Components
@import "components/navigation";
@import "components/header";
@import "components/content";
@import "components/aside";



// Framework
@import "framework/grid";

* {
	@include box-sizing(border-box);
}

body {
	background: #F1F7F8;
	font: #{($base-font-size / 16px) * 1em} / #{$line-height-ratio} $base-font-family;
	margin: 0;
	max-width: 100%;

	 -webkit-text-size-adjust: 100%; // stops the text from becoming bigger on orientation on iPhone / iPad devices
	   -webkit-font-smoothing: antialiased; // makes the font smooth on webkit devices

	@include bp(desktop) {
		min-width: 1220px;
	}
}

.wrapper {
	//margin: auto;
	max-width: $wrapper-width;
}

.container {
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


