/* Alternative for VAG Rounded - BPReplay */

@font-face {
    font-family: 'bpreplay-regular';
    src: url('../fonts/bpreplay-webfont.eot');
    src: url('../fonts/bpreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplay-webfont.woff') format('woff'),
         url('../fonts/bpreplay-webfont.ttf') format('truetype'),
         url('../fonts/bpreplay-webfont.svg#bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpreplay-italic';
    src: url('../fonts/bpreplayitalics-webfont.eot');
    src: url('../fonts/bpreplayitalics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplayitalics-webfont.woff') format('woff'),
         url('../fonts/bpreplayitalics-webfont.ttf') format('truetype'),
         url('../fonts/bpreplayitalics-webfont.svg#bpreplayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpreplay-bold';
    src: url('../fonts/bpreplaybold-webfont.eot');
    src: url('../fonts/bpreplaybold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplaybold-webfont.woff') format('woff'),
         url('../fonts/bpreplaybold-webfont.ttf') format('truetype'),
         url('../fonts/bpreplaybold-webfont.svg#bpreplaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpreplay-bolditalic';
    src: url('../fonts/bpreplaybolditalics-webfont.eot');
    src: url('../fonts/bpreplaybolditalics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplaybolditalics-webfont.woff') format('woff'),
         url('../fonts/bpreplaybolditalics-webfont.ttf') format('truetype'),
         url('../fonts/bpreplaybolditalics-webfont.svg#bpreplaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Myriad pro alt = Merriweather */

@font-face {
    font-family: 'merriweather-light';
    src: url('../fonts/MerriweatherSans-Light-webfont.eot');
    src: url('../fonts/MerriweatherSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MerriweatherSans-Light-webfont.woff') format('woff'),
         url('../fonts/MerriweatherSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/MerriweatherSans-Light-webfont.svg#MerriweatherSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather-regular';
    src: url('../fonts/MerriweatherSans-Regular-webfont.eot');
    src: url('../fonts/MerriweatherSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MerriweatherSans-Regular-webfont.woff') format('woff'),
         url('../fonts/MerriweatherSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/MerriweatherSans-Regular-webfont.svg#MerriweatherSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather-bold';
    src: url('../fonts/MerriweatherSans-Bold-webfont.eot');
    src: url('../fonts/MerriweatherSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MerriweatherSans-Bold-webfont.woff') format('woff'),
         url('../fonts/MerriweatherSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/MerriweatherSans-Bold-webfont.svg#MerriweatherSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Journal */

@font-face {
    font-family: 'journal';
    src: url('../fonts/journal-webfont.eot');
    src: url('../fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/journal-webfont.woff') format('woff'),
         url('../fonts/journal-webfont.ttf') format('truetype'),
         url('../fonts/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}